<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body style="background-color:#FFFFFF">
	<div class="login-form">
		<h1>Pagina de empleado de la empresa</h1>
    <form action="EmpleadoPorSemana" method="POST">
<!-- Espacio de texto para filtrar por clase de articulo -->
   <input type="text" name="username" placeholder="Username" required>
       	
	<!-- Boton de redireccion hacia /AgregarArticulo -->
	 <input type="submit" id="loginbutton" value="Semana empleado">

	<!-- Declaracion y creacion de la tabla en HTML para la base de datos -->
       



       </form>
   <form action="EmpleadoPorMes" method="POST">
<!-- Espacio de texto para filtrar por clase de articulo -->
   <input type="text" name="username2" placeholder="Username2" required>
        
  <!-- Boton de redireccion hacia /AgregarArticulo -->
   <input type="submit" id="loginbutton" value="Semana mes">

  <!-- Declaracion y creacion de la tabla en HTML para la base de datos -->
       



       </form>
     </div>
</body>
</html>