<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body style="background-color:#FFFFFF">
	<div class="login-form">
		<h1>Pagina de empleado de la empresa</h1>
    <form action="EmpleadoPorSemana2" method="POST">
<!-- Espacio de texto para filtrar por clase de articulo -->
   <input type="text" name="username" placeholder="Cedula de identidad para busqueda semanal" required>
       	
	<!-- Boton de redireccion hacia /AgregarArticulo -->
	 <input type="submit" id="loginbutton" value="Semana empleado">

	<!-- Declaracion y creacion de la tabla en HTML para la base de datos -->
       </form>
   <form action="EmpleadoPorMes2" method="POST">
<!-- Espacio de texto para filtrar por clase de articulo -->
   <input type="text" name="username2" placeholder="Cedula de identidad para busqueda mensual" required>
        
  <!-- Boton de redireccion hacia /AgregarArticulo -->
   <input type="submit" id="loginbutton" value="Semana mes">

  <!-- Declaracion y creacion de la tabla en HTML para la base de datos -->
       </form>
      <button class="btn"><a class="a2"href="/main2">Salir de la cuenta del cliente</a></button>
     </div>
</body>
</html>