<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body style="background-color:#FFFFFF">
      <div class="login-form">
	<h1>Borrar empleado</h1>
        <form action="borrar" method="POST">
            <input type="text" name="username" placeholder="Nombre del Empleado" required>
            <input type="submit" id="loginbutton" value="Borrar">

            <!-- Boton de redireccion hacia /Main -->
    <button class="btn"><a class="a2"href="/main">Salir</a></button>
        </form>
    </div>
    <table id="Empleados">
         <tr class="header">
           <th style="width:35%;">Nombre</th>
     </tr>
         <%Empleados.recordset.forEach(function(Empleado, index){%>
         <tr>
           <td><%= Empleado.Nombre%></td>
         </tr>
         <%});%>
       </table> 


</body>
</html>