<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<!-- Estilo y color del fondo -->
	<body style="background-color:#FFFFFF">
		<div class="login-form">
			<!-- Titulo de la pagina -->
			<h1>Login</h1>
			<!-- Login section -->
			<div>
				<h2>Login to system as admin or employee</h2>
				<form action="auth" method="POST">
					<input type="text" name="username" id="username" placeholder="Username" required>
					<input type="password" name="password" id="password" placeholder="Password" required>
					<input type="submit" id="login_button" value="Login">
					<!-- Falta comparacion para decidir si es admin o empleado y enviar a la interfaz correspondiente -->
				</form>
			</div>
		</div>
	</body>
</html>
